.docker/mysql/dbdata/ib_logfile0
.docker/mysql/dbdata/ibdata1
.docker/mysql/dbdata/ibtmp1
.docker/mysql/dbdata/auto.cnf
.docker/mysql/dbdata/ca-key.pem
.docker/mysql/dbdata/client-key.pem
.docker/mysql/dbdata/ib_buffer_pool
.docker/mysql/dbdata/ib_logfile1
.docker/mysql/dbdata/private_key.pem
.docker/mysql/dbdata/server-key.pem
